
behaviors:
  Brain:
    trainer_type: ppo
    hyperparameters:
      batch_size: 2048
      buffer_size: 20480
      learning_rate: 3.0e-4
      beta: 5.0e-3
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
    network_settings:
      num_layers: 3
      hidden_units: 256
      normalize: true
    reward_signals:
      extrinsic:
        gamma: 0.99
    max_steps: 2000000
    time_horizon: 64